<div class='tusur_header_wrapper'>

  <div class='navbar navbar-inverse navbar-fixed-top' role='navigation' id='menu_first'>
    <div class='container'>

      <!-- Для мобилочек -->
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle mobile-toggler' data-toggle='collapse' data-target='#site-menu'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='/'></a>
      </div>
      <!-- / Для мобилочек -->

      <div class='navbar-collapse collapse' id='site-menu'>

        <!-- Первое левое выпадающее меню -->
        <ul class='nav navbar-nav'>
          <li class='dropdown'>
            <a href='/' class='dropdown-toggle' data-toggle='dropdown'>Сайты ТУСУР<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><a href='http://www.tusur.ru'>Официальный информационный портал университета</a></li>
              <li><a href='http://re.tusur.ru'>Газета &laquo;Радиоэлектроник&raquo;</a></li>
            </ul>
          </li>
        </ul>
        <!-- / Первое левое выпадающее меню -->

        <!-- Второе левое выпадающее меню -->
        <ul class='nav navbar-nav'>
          <li class='dropdown'>
            <a href='/' class='dropdown-toggle has_arrow' data-toggle='dropdown'>Абитуриентам ТУСУР<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><a href='/ru/pochemu-tusur/'>Почему ТУСУР?</a></li>
              <li><a href='/ru/napravleniya-podgotovki/ochnaya-forma-obucheniya/'>Направления подготовки</a></li>
              <li><a href='/ru/kak-postupit/'>Как поступить</a></li>
              <li><a href='/ru/kontakty/'>Контакты</a></li>
              <li><a href='http://www.tusur.ru/ru/tusur/documents/' target='_blank'>Официальные документы</a></li>
            </ul>
          </li>
        </ul>
        <!-- / Второе левое выпадающее меню -->

        <!-- Правое выпадающее меню -->
        <ul class='nav navbar-nav navbar-right'>
          <li class='dropdown'>
            <div href='/' class='dropdown-toggle login' data-toggle='dropdown'>
              <a href='/auth/auth/identity'>Вход в систему</a>
              <b class='caret'></b>
            </div>
            <ul class='dropdown-menu'>
              <li><a href='/'>Пункт меню в личном кабинете</a></li>
              <li><a href='/'>Профиль</a></li>
              <li><a href='/'>Настройки</a></li>
              <li><a href='/'>Выход</a></li>
            </ul>
          </li>
        </ul>
        <!-- / Правое выпадающее меню -->

      </div>
    </div>
  </div>

  <div class='navbar navbar-inverse navbar-second-menu' role='navigation' id='menu_second'>
    <div class='container'>

      <!-- Левая часть второй линии меню -->
      <ul class='nav nav-pills first-menu-part col-xs-12 col-sm-4 col-lg-7 col-md-6'>
        <li><a href='/ru/pochemu-tusur/'>Почему ТУСУР?</a></li>
        <li><a href='/ru/napravleniya-podgotovki/ochnaya-forma-obucheniya/'>Направления подготовки</a></li>
        <li><a href='/ru/kak-postupit/'>Как поступить</a></li>
        <li><a href='/ru/kontakty/'>Контакты</a></li>
      </ul>
      <!-- / Левая часть второй линии меню -->

      <!-- Правая часть второй линии меню -->
      <div class='navbar-collapse collapse second-menu-part hidden-xs hidden-sm col-md-5 col-lg-5' id='second-site-menu'>
        <form class='navbar-form navbar-right search' role='form' action='/' method='get'>
          <div class='form-group'>
            <input type='text' placeholder='Поиск' class='form-control'>
          </div>
          <div class='form-group'>
            <a href='/' class='glyphicon glyphicon-search'></a>
          </div>
        </form>
        <div class='official-documents'>
          <a href='http://www.tusur.ru/ru/tusur/documents/' target='_blank'>Официальные документы</a>
        </div>
      </div>
      <!-- / Правая часть второй линии меню -->

      <!-- Для мобилочек -->
      <div class='hidden-md hidden-lg hidden-sm official-doc-for-mobile col-xs-12 col-sm-12'>
        <div class='official-documents'>
          <a href='http://www.tusur.ru/ru/tusur/documents/' target='_blank'>Официальные документы</a>
        </div>
        <form class='navbar-form navbar-right search' role='form'>
          <div class='form-group'>
            <input type='text' placeholder='Поиск' class='form-control'>
          </div>
          <div class='form-group'>
            <a href='/' class='glyphicon glyphicon-search'></a>
          </div>
        </form>
      </div>
      <!-- / Для мобилочек -->

    </div>
  </div>
</div>
